/* Tech Gold - #B3A369
Tech Gold Metallic - #A28D5B
Blue - #003057  */
body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('../gtstadium3.jpg');
  background-attachment: fixed;
  background-size: cover;
  
}

.d-none {
  display: none;
}

 /* //NAV BAR START// */

.navbar{
 width: 120px;
 text-align: center;
 background-color: #2e2e2e;
 position: fixed;
 top: 0;
 bottom: 0;
}


.home2, .chat2, .parking2, .weather2 {
  color: #e4e4e4;
  text-decoration: none;
}


.homediv:hover .home2, .chat2:hover, .chatdiv:hover, .parking2:hover, .parkingdiv:hover, .weather2:hover, .weatherdiv:hover{
  background-color: #e4e4e4;
  color: #2e2e2e;
}



.home2:focus, .chat2:focus, .parking2:focus, .weather2:focus {
  text-decoration: none;
}

.home2:active, .chat2:active, .parking2:active, .weather2:active {
  text-decoration: none;
}


/* //NAV BAR END// */


  .main {
    display: flex;
    background-color: whitesmoke;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    padding: 15px;
    align-content: center;
    justify-content: center;
    width: 70%;
    
  }

  .main2{
    display: flex;
    background-color: whitesmoke;
    /* margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    padding: 15px; */
    align-items: center;
    justify-content: center;
    width: 70%;
    border-radius: 30px 30px 30px 30px;
    position: fixed;
    top: 30%;
    left: 15%;
  }

  .homeText {
    flex-flow: column wrap;
    align-self: center;
    text-align: center;
  }

  .parkingDir, .weatherDir, .watsonDir, .loginDir {
    background-color: #a28d5b;
    color: whitesmoke;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 75px;
    cursor:pointer;
  }

  .parking {
    flex-flow: column wrap;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 80%;
  }

  .busForm {
    align-self: flex-end;
    justify-self: flex-end;
  }

  .predictions{
    width: 50%;
    align-self: center;
    justify-self: center;
  }

  .chatbot {
    flex-flow: column wrap;
    width: 500px;
    height: 80%;
    margin-bottom: 100px;
  }

  .Chat__header {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;
}

.WatsonChat__header-shape {
    border-radius: .5em;
    fill: #a28d5b;
    stroke: #303030;
    stroke-width: 6;
}